<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css' integrity='sha512-1hsteeq9xTM5CX6NsXiJu3Y/g+tj+IIwtZMtTisemEv3hx+S9ngaW4nryrNcPM4xGzINcKbwUJtojslX2KG+DQ==' crossorigin='anonymous'/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="./asserts/style.css">
  <title>ToDo App</title>
</head>
<body>
  <div class="container-general" id="app">

    <h1>ToDo APP</h1>

  <div class="container-text-button">
    <input @keyup.13="addNewItemFuncion()" v-model.trim="textToPush"  type="text" placeholder="Inserisci il tui ToDo">
    <button @click="addNewItemFuncion()">Click</button>
  </div>

  <div class="todo-list-container">

    <ul>
      <li  v-for="(item, index) in listOfItemsToDo">

        <span @click="item.done = !item.done"
        :class="{'done-class' : item.done}">{{item.title}}</span>
        <i @click="removeItemFunction(index)" class="fa-solid fa-trash-can"></i>
        
      </li>

      <span  v-if="listOfItemsToDo.length == 0 ">Non Hai nulla Da fare!</span>
      
    </ul>

  </div>
</div>

<script src="./asserts/script.js"></script>
</body>
</html>